<h1>Welcome <%= current_user.username %>!</h1>

<b>Your Feed!</b>
<ul id="feed">
  <% @feed_tweets.each do |tweet| %>
    <li><%= render "tweets/tweet", tweet: tweet %></li>
  <% end %>
</ul>

<%= render "tweets/form" %>

<script charset="utf-8">
  $.TweetCompose = function(el){
    this.$el = $(el);
    this.$inputs = this.$el.find(':input');
    this.$charsLeft = this.$el.find('.chars-left');
    this.$addMentions = this.$el.find(".add-mentioned-user");

    this.$el.on('submit', this.submit.bind(this));
    this.$el.find('textarea').keydown(this.countChars.bind(this));
    this.$addMentions.on('click', this.addMentionedUser.bind(this));
      }

  $.TweetCompose.prototype.submit = function(event){
    event.preventDefault();
    var inputValues = $(event.currentTarget).serialize();
    this.$inputs.prop('disabled', true);

    $.ajax({
      url: '/tweets',
      type: 'post',
      dataType: 'json',
      data: inputValues,
      success: this.handleSuccess.bind(this)
    })
  }



  $.TweetCompose.prototype.addMentionedUser = function(event){
    var html = this.$el.find('script').html();
    this.$el.find('.mentioned-users').append(html);
    this.$el.find('a.remove-mentioned-user').on('click', this.removeMentionedUser.bind(this))
  }

  $.TweetCompose.prototype.removeMentionedUser = function(event){
    console.log("hi nick");
    $(event.currentTarget).parent().remove();
  }

  $.TweetCompose.prototype.countChars = function(event){
    var tweetLength = $(event.currentTarget).val().length;
    this.$charsLeft.text(140 - tweetLength);
  }

  $.TweetCompose.prototype.clearInput = function(){
    this.$el.find('a.remove-mentioned-user').parent().remove();
    this.$el.find(':input:not(:last)').val("");
    this.$charsLeft.text("140");
    this.$inputs.prop('disabled', false);
  }

  $.TweetCompose.prototype.handleSuccess = function(data){
    this.clearInput();
    var $ul = $(this.$el.data('tweets-ul'));
    var template = _.template("<li><%%= tweetContent %>\n" +
                              "-- <a href='users/<%%= tweetUserShow %>'><%%= tweetUser %></a>"+
                              "\n-- <%%= tweetCreatedAt %>" +
                              "<%% if (tweetMentions.length > 0){ %> <ul>" +
                              "<%% tweetMentions.forEach(function(mentionedUser){ %>" +
                              "<li><a href='users/<%%= mentionedUser.user_id %>'>" +
                              "<%%= mentionedUser.user.username %></a></li>" +
                              "<%% }) }%>" +
                              "</ul></li>");

    $ul.prepend(template({
      tweetContent: data.content,
      tweetUserShow: data.user_id,
      tweetUser: data.user.username,
      tweetCreatedAt: data.created_at,
      tweetMentions: data.mentions
    }))

  }

  $.fn.tweetCompose = function(){
    return this.each(function () {
      new $.TweetCompose(this);
    })
  }

  $(function(){
    $('.tweet-compose').tweetCompose();
  })

</script>
