<h1><%= board.escape('title') %></h1>
<ul>
  <% board.lists().each(function(list){ %>
    <li class="list">
      <strong><%= list.escape('title') %></strong>
      <ul>
        <% list.cards().each(function(card){ %>
          <li> <%= card.escape('title') %> </li>
        <% }) %>
      </ul>
    </li>
  <% }); %>
</ul>


<div>
  <form>
    <label>Add List:
      <input type="text" name="title">
    </label>
    <button>Save</button>
  </form>
</div>


<br>
<button id="delete">Delete Board</button>
