<h1><%= board.escape('title') %></h1>
<ul id="list-list">
</ul>


<div>
  <form>
    <label>Add List:
      <input type="text" name="title">
    </label>
    <button>Save</button>
  </form>
</div>


<br>
<button id="delete">Delete Board</button>
