<h2>New Tweet!</h2>
<form data-tweets-ul="#feed" class="tweet-compose" action="/tweets" method="POST">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>
    Content
    <textarea name="tweet[content]"></textarea>
  </label>
  <br>

  <a href="javascript:void(0)" class="add-mentioned-user">Mention Users</a>
  <ul class="mentioned-users"></ul>

  <script type="text/template">
    <section>
      <label>
        Mention
        <select name="tweet[mentioned_user_ids][]">
          <option></option>
          <% User.all.each do |user| %>
            <option value="<%= user.id %>"><%= user.username %></option>
          <% end %>
        </select>
        <a href="javascript:void(0)" class="remove-mentioned-user">X</a>
      </label>
    </section>
  </script>

  <br>
  <strong class="chars-left">140</strong>
  <input type="Submit" value="Post Tweet!">
</form>
