<script type="text/template" id="pokemon-list-item-template">
  <li class="poke-list-item" data-id="<%%= pokemon.get('id') %>">
    Name: <%%= pokemon.escape('name') %><br>
    Poke_Type: <%% pokemon.escape('poke_type') %><br>
  </li>

</script>

<script type="text/template" id="pokemon-detail-template">
  <div class="detail">
    <img src="<%%= pokemon.escape('image_url') %>"></img><br>
      <span style="font-weight:bold;">Name: <%%= pokemon.escape('name') %></span><br>
      <span style="font-weight:bold;">Attack: <%%= pokemon.escape('attack') %></span><br>
      <span style="font-weight:bold;">Defense: <%%= pokemon.escape('defense') %></span><br>
      <span style="font-weight:bold;">Poke Type: <%%= pokemon.escape('poke_type') %></span><br>
      <span style="font-weight:bold;">Moves: <%%= pokemon.escape('moves') %></span><br>
     <br>
    <span style="font-weight: bold;">Toys:</span><br>
    <ul class="toys">

    </ul>
  </div>
</script>

<script type="text/template" id="toy-list-item-template">
  <li data-id="<%%= toy.id %>" data-pokemon-id="<%%= toy.get('pokemon_id')%>">
    Name: <%%= toy.escape('name') %><br>
    Happiness: <%%= toy.escape('happiness') %><br>
    Price: <%%= toy.escape('price') %><br>
  </li>

</script>

<script type="text/template" id="toy-detail-template">
  <div class="detail">
    <img src="<%%= toy.escape('image_url') %>"/><br>
    <span style="font-weight:bold;">Name: <%%= toy.escape('name') %></span><br>
    <span style="font-weight:bold;">Happiness: <%%= toy.escape('happiness') %></span><br>
    <span style="font-weight:bold;">Price: <%%= toy.escape('price') %></span><br>

    <select data-pokemon-id="<%%= toy.get('pokemon_id') %>" data-toy-id="<%%= toy.id %>">
      <%%= console.log(pokes) %>
      <%% pokes.each( function(poke) { %>
        <option value="<%%= poke.id %>"

        <%% if (poke.id === toy.get('pokemon_id')) { %>
          selected
        <%% } %>

        ><%%= poke.escape('name')%></option>

      <%% }) %>

    </select>
  </div>
</script>

<script type="text/template" id="pokemon-form-template">
    <form class='new-pokemon'>
      <div>
        <label
          for='pokemon_name'>Name:</label>
        <input
          type='text'
          id='pokemon_name'
          name='pokemon[name]'>
      </div>

      <div>
        <label
          for='pokemon_image_url'>Image URL:</label>
        <input
          type='text'
          id='pokemon_image_url'
          name='pokemon[image_url]'>
      </div>

      <div>
        <label
          for='pokemon_poke_type'>Type:</label>
        <select
          id='pokemon_poke_type'
          name='pokemon[poke_type]'>
          <% Pokemon::TYPES.each do |type|%>
            <option><%= type %></option>
          <% end %>
        </select>
      </div>

      <div>
        <label
          for='pokemon_attack'>Attack:</label>
        <input
          type='number'
          id='pokemon_attack'
          name='pokemon[attack]'>
      </div>

      <div>
        <label
          for='pokemon_defense'>Defense:</label>
        <input
          type='number'
          id='pokemon_defense'
          name='pokemon[defense]'>
      </div>

      <div>
        <label
          for='pokemon_move_1'>Move #1:</label>
        <input
          type='text'
          id='pokemon_move_1'
          name='pokemon[moves][]'>
      </div>

      <div>
        <label
          for='pokemon_move_2'>Move #2:</label>
        <input
          type='text'
          id='pokemon_move_2'
          name='pokemon[moves][]'>
      </div>

      <button>Create Pokemon</button>
      <br>
    </form>
</script>
