.carousel {

}

.items {
  width: 150px;
  height: 150px;
  position: relative;
  margin: auto;
  overflow: hidden;
  border: 5px solid black;
}

.items img{
  height: 100%;
  width: 100%;
  display: none;
  transition: left 0.5s linear;
}

.items .active {
  position: absolute;
  left: 0%;
  display: block;

}

.items .left{
  position: absolute;
  left: -100%;
  display: block;
}

.items .right{
  position: absolute;
  left: 100%;
  display: block;
}
