/* PHASE 7: Online */
.online{
  display: block;
  position: absolute;
  top: 12px;
  left: -30px;
  background: #0c0;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  transform: rotate(-45deg);
  text-transform: full-width;
  padding: 5px 30px;
  box-shadow: 0 1px #070;

}
