/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";


.board-list li{
  padding: 0;
  display: block;
}

.board-list li a{
  display: block;
  height: 100px;
  width: 150px;
  background: #66A3FF;
  margin: 10px;
  float: left;
  list-style: none;
  text-decoration: none;
  color: black;
  padding: 10px;
}
.board-list li a:hover{
  background: #85B5FF;
}

.list{
  padding: 0;
  display: block;
  list-style: none;
  height: 100px;
  width: 150px;
  background: #66A3FF;
  margin: 10px;
  float: left;
  padding: 10px;


}
