// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sidebar{
  float: left;
  background: grey;
  padding: 15px;
}

.content{
  float:left;
  background: lightblue;
  padding: 15px;
}
