/* PHASE 4: Footer */

footer{
  width: 900px;
  margin: auto;
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 0px;
  font-weight: 400;
  font-size: 14px;
  color: #aaa;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.footer-copy {
  float: left;
  padding: 20px;
}

.footer-nav {
  float: right;
  padding: 0px 10px 0px 0px;
}

.footer-nav > li{
  float:left;
  padding: 20px 10px;
}

.footer-nav a:hover {
  color: #000;
}
